body{
    text-align: center;
    background-color: antiquewhite;
}

img{
    height: 10rem;
    width: 10rem;
    border: 2px solid green;
    border-radius: 100%;
}

div{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bolder;
}